.DS_Store
.phpunit.result.cache
.vue.alias.js
.env
.env.backup

/vendor
/node_modules

/public/hot*
/public/build
/public/modules/*/build
/public/storage

/lang/.custom

/tests/coverage

/storage/*.key
/storage/hot*
/storage/.installed
/storage/settings.json
/storage/i18n-locales.js

/_build
/_patch
/_packages

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

_ide_helper.php
_ide_helper_models.php

.phpstorm.meta.php

/.fleet
/.idea
