# Prevent access to the .htaccess file
<Files ".htaccess">
  Order Allow,Deny
  Deny from all
</Files>

# PHP settings
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>

# Authentication setup (IP restrictions removed)
# AuthType Basic
# AuthName "Restricted Access"
# AuthUserFile /home/n2ncrm/.htpasswds/medinjury.n2ncrm.com/passwd
# Require valid-user