<div class="row">
    <div class="column padding-50 is-light-text" style="background-image: url(&quot;https://i.postimg.cc/dV9gLsVT/pexels-rdne-stock-project-7310202.jpg&quot;); background-size: cover; background-repeat: no-repeat;">
        <div class="display" style="text-align:center;">
            <h1><span>Proposal for Branding Design Services</span></h1>
            <p><span>OUR MAIN OBJECTIVE IS TO REBRAND THE BUSINESS,<br></span><span>MODERNIZE THE PROFILE, AND INCREASE THE PROFIT OF THE COMPANY.</span><br></p>

        </div>
    </div>

</div>
<div class="row">
    <div class="column" style="padding-left:40px;padding-right:40px;">
        <p style="padding-top:35px;padding-bottom:35px;">Dear {{ contact.first_name }}, <br><br>We are pleased to present this comprehensive proposal for your branding design project. As a leading design agency with a proven track record of delivering exceptional branding solutions, we are confident that we can help your company create a strong and memorable brand identity that aligns with your goals and resonates with your target audience.</p>
    </div>

</div>
<div class="row">
    <div class="column" style="background-color:rgb(245,245,245);padding-top:90px;padding-bottom:90px;padding-left:80px;">
        <div class="display">
            <h1 style="text-align:right;">Brand Strategy</h1>
            <p style="text-align:right;">A solid brand strategy serves as <br>the foundation for <br>successful branding.</p>
            <p style="text-align:right;"><i class="icon ion-android-checkmark-circle size-48"></i><br></p>

        </div>
    </div>
    <div class="column" style="background-color:rgb(245,245,245);padding-top:90px;padding-bottom:90px;width:100%;padding-right:90px;">
        <p>We will work closely with your team to define your brand positioning, messaging, and brand personality.&nbsp;<br></p>
        <p>By conducting market research, competitor analysis, and customer surveys, we will gain a deep understanding of your industry and target market to inform our strategic decisions.<br></p>
    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-40"></div>
    </div>

</div>
<div class="row">
    <div class="column" style="padding-left:40px;padding-right:40px;">
        <div class="display">
            <h1>Company Background<br></h1>
            <p>Understanding your company's background, values, and objectives is essential to developing an effective brand strategy. We have conducted thorough research on your company, its industry, competitors, and target market.&nbsp;<br></p>
            <p>This research has provided us with valuable insights that will inform our creative process and enable us to develop a brand identity that captures the essence of your company.<br></p>
        </div>
    </div>

</div>

<div class="row">
    <div class="column">
        <div class="spacer height-40"></div>
    </div>

</div>

<div class="row">
    <div class="column is-light-text" style="background-image:url(&quot;https://i.postimg.cc/NjVfCkR4/pexels-hemanth-nirujogi-3189980.jpg&quot;);background-size:cover;background-repeat:no-repeat;padding:90px 40px;">
        <div class="display">
            <h1>Executive Summary</h1>
            <p>We have carefully analyzed your company's requirements and have crafted a tailored branding design solution to address your specific needs. This proposal outlines the key deliverables, timeline, and budget for the project.&nbsp; <br><br>Our team of experienced designers and strategists will collaborate closely with your team to ensure that the final result exceeds your expectations.</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-80"></div>
    </div>

</div>

<div class="row">
    <div class="column" style="padding-left:40px;padding-right:40px;">
        <div class="display">
            <h1>Brand Guidelines<br></h1>
            <p>To ensure consistency in brand implementation, we will create a detailed brand guidelines document.&nbsp;<br></p>
            <p>This document will provide instructions on logo usage, color specifications, typography guidelines, and guidelines for maintaining brand consistency across various media.&nbsp;</p>
            <p>The brand guidelines will serve as a valuable resource for your team and external partners, ensuring that your brand is represented accurately and consistently across all communication channels.<br></p>
        </div>
    </div>

</div>

<div class="row">
    <div class="column">
        <div class="spacer height-80"></div>
    </div>

</div>

<div class="row">
    <div class="column is-light-text padding-60" style="background-color:rgb(3,25,38);">
        <h4 style="text-align:center;padding-left:100px;padding-right:100px;"><b>"YOUR BRAND IS WHAT OTHER PEOPLE SAY ABOUT YOU WHEN YOU ARE NOT IN THE ROOM."</b><br></h4>
        <p style="text-align:center;"><i>- Jeff Bezos | Founder of Amazon.com -</i><br></p>
    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-100"></div>
    </div>

</div>

<div class="row">
    <div class="column is-dark-text" style="padding-left:40px;padding-right:20px;">
        <h3 style="font-family:'Open Sans', sans-serif;"><b>Logo Design</b></h3>
        <p>Your logo is the visual representation of your brand and plays a critical role in creating brand recognition.&nbsp;</p>
        <p>Our experienced designers will create a unique and visually appealing logo that embodies your brand's values and captures the essence of your company.&nbsp;</p>
        <p>Through a collaborative design process, we will present you with several logo concepts, allowing for feedback and revisions to ensure the final logo is a perfect reflection of your brand.</p>
        <p><br></p>
    </div>
    <div class="column is-dark-text" style="padding-left:20px;padding-right:40px;">
        <h3><b>Visual Identity System<br></b></h3>
        <p>Consistency in visual elements is key to establishing a strong brand presence. We will develop a comprehensive visual identity system that includes:</p>
        <ul style="padding-left:20px;">
            <li><b>Typography</b></li>
            <li><b>Color Palette</b></li>
            <li><b>Graphic Elements</b><br></li>
        </ul>
        <p>This system will be applied consistently across all brand touchpoints, including your website, stationery, packaging, and marketing collateral.&nbsp;</p>
    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-100"></div>
    </div>

</div>
<div class="row">
    <div class="column is-light-text padding-50" style="text-align:center;background-color:rgb(3,25,38);">
        <h1 style="text-align:center;padding-top:0px;padding-bottom:0px;"><b style="font-size:50px;">Project Timeline</b></h1>
        <p><b><br></b></p>
        <p style="margin-bottom:20px;text-align:center;padding-left:50px;padding-right:50px;">We have developed a detailed project timeline that outlines the various phases of the branding design process, including research, concept development, design iterations, and final deliverables.&nbsp;We understand the importance of timely delivery and are committed to meeting the agreed-upon deadlines.&nbsp;</p>
        <p style="margin-bottom:20px;text-align:center;padding-left:50px;padding-right:50px;padding-bottom:20px;">Our project management team will ensure effective coordination and communication throughout the project, keeping you informed of the progress every step of the way.</p>
    </div>

</div>

<div class="row relative">
    <div class="column padding-30" style="background-color:rgb(244,233,205);text-align:left;">
        <h1 style="text-align:center;padding-top:20px;padding-bottom:20px;"><span style="color:rgba(109,60,18,0.95);font-family:'Open Sans', sans-serif;"><span><b style="font-size:50px;">Sample Projects</b>
                </span></span></h1>
        <p style="text-align:left;"></p>
        <p><b style="color:rgba(109,60,18,0.95);font-size:18px;">XYZ Company Rebranding
            </b></p><span style="color:rgba(109,60,18,0.95);">We collaborated with XYZ Company to revamp their brand identity and create a fresh, modern look that resonated with their target audience. Our team developed a new logo, visual identity system, and marketing collateral that showcased their company's values and unique selling propositions. The result was a revitalized brand that received positive feedback from customers and stakeholders alike.
        </span>
        <p></p><img src="https://i.postimg.cc/6pMzKq9H/pexels-rdne-stock-project-7310202.jpg" alt="" style="margin-top:40px;">

    </div>

</div>
<div class="row">
    <div class="column padding-40" style="background-color:rgba(245,158,11,0.52);">
        <h1 style="text-align:center;"><b style="color:rgb(109,60,18);">LET'S GET STARTED</b></h1>
    </div>

</div>

<div class="row">
    <div class="column padding-60" style="background-image:url(&quot;https://i.postimg.cc/N00j5gWC/pexels-jean-w-photos-11703290.jpg&quot;);background-size:cover;background-repeat:no-repeat;background-position:0% 0%;">

        <h2 style="text-align:center;padding-left:90px;padding-right:90px;"><span style="color:rgb(243,244,246);">IF YOU WOULD LIKE TO JOIN US AND BECOME A CLIENT THEN WE WOULD BE DELIGHTED TO HAVE YOU ABOARD.</span><br></h2>
    </div>

</div>
<div class="row relative" style="border-bottom:1px solid rgb(196,196,196);">
    <div class="column padding-50 is-dark-text" style="text-align:left;">
        <h1 style="text-align:left;padding-top:0px;padding-bottom:0px;"><b style="font-size:50px;">Next Steps</b></h1>
        <p><span style="font-size:30px;line-height:36px;">Our team is excited about the opportunity to work with you and contribute to the success of your brand.<br></span></p>
        <ul style="padding-left:20px;">
            <li>Sign by clicking 'Sign' and type your e-mail address and name.</li>
            <li>We will arrange the initial phone meeting&nbsp;where we will gather all the details we need.</li>
            <li>We will be in touch with your invoice details and will set up billing.<br></li>
        </ul>

    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-80"></div>
    </div>

</div>

<div class="row">
    <div class="column" style="padding-left:40px;padding-right:40px;">
        <p>Thank you for considering&nbsp;<b>{{ company_name }}</b> for your branding design needs. We are confident that our expertise and creative solutions will help elevate your brand to new heights. We look forward to the opportunity to work with you and create a brand that leaves a lasting impression.</p>
    </div>

</div>
<div class="row">
    <div class="column">
        <div class="spacer height-80"></div>
    </div>

</div>
